@model IEnumerable <ECommerce_Website.Models.Order>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    ViewBag.Title = "StockReport";
}

<h2 style="text-align:Center">Stock Report</h2>
<table class="table table-bordered table-hover table-dark">
    <tr>
        <th>Product Pic</th>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Purchase Price</th>
        <th>Sale Price</th>
        <th>Availabe Stock</th>
        <th>Order Status</th>
        <th>Order Type</th>
    </tr>
   
    </table>


